<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916178427765-u7p8fgspi62b4ih3f5jcutdrn1ug5rnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916178427765-u7p8fgspi62b4ih3f5jcutdrn1ug5rnj</string>
	<key>API_KEY</key>
	<string>AIzaSyApIVN0ajnynmbOMG96aBOdhcrD5uZEgtI</string>
	<key>GCM_SENDER_ID</key>
	<string>916178427765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ang-Jun-Ray.Kahoot-Hackathon</string>
	<key>PROJECT_ID</key>
	<string>kahoot-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kahoot-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916178427765:ios:ab7566cf0ba061232dbd3c</string>
</dict>
</plist>